<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-white">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <br>
    <div class="py-9 text-center">
        <h4>chatOn</h4>
        <h2>회원가입</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/sign-up}" th:object="${memberDto}" method="post" novalidate>
                                    <!--th:object="${memberDto} 받은 객체 memberDto-->
            <div class="form-group">
                <label for="loginId">ID</label>
                <input id="loginId" type="text" th:field="*{loginId}" class="form-control"
                       placeholder="id" aria-describedby="loginIdHelp" required minlength="5" maxlength="10">
                <small id="loginIdHelp" class="form-text text-muted">
                    영문자와 숫자를 포함하여 5~10자 이내로 작성해주세요.
                </small>
                <small class="invalid-feedback">아이디를 다시 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">loginId Error</small>
            </div>

            <div class="form-group">
                <label for="password">비밀번호</label>
                <input id="password" type="password" th:field="*{memberPwd}" class="form-control"
                       placeholder="password" aria-describedby="passwordHelp" required minlength="8" maxlength="15">
                <small id="passwordHelp" class="form-text text-muted">
                    영문자, 숫자, 특수기호를 포함하여 8~12자 이내로 작성해주세요.
                </small>
                <small class="invalid-feedback">패스워드를 다시 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('memberPwd')}" th:errors="*{memberPwd}">Password Error</small>
            </div>

            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input id="nickname" type="text" th:field="*{memberName}" class="form-control"
                       placeholder="nickname" aria-describedby="nicknameHelp" required minlength="2" maxlength="10">
                <small id="nicknameHelp" class="form-text text-muted">
                    문자와 숫자만 가능합니다. 2~10자 이내로 작성헤주세요.
                </small>
                <small class="invalid-feedback">닉네임을 다시 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}">Nickname Error</small>
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    이메일을 입력하세요.
                </small>
                <small class="invalid-feedback">이메일을 다시 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
            </div>

            <br>
            <div class="form-group">
                <button class="btn btn-outline-warning" type="submit" th:width="120px"
                        aria-describedby="submitHelp">가입하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>