<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-sm-8"  style="margin-top: 20px">
            <div class="post-category row" style="color: gray">
                <div class="col" style="text-align: left;">
                    <span>조회수 </span>
                    <span th:text="${post.hit}"></span>
                </div>
                <div class="col" style="text-align: right; margin-right: 3%" >
                    <span th:text="${#temporals.format(post.createdDate,'yyyy-MM-dd HH:mm')}">작성시간</span>
                </div>
            </div>
            <div style="margin-top: 10px">
                <p>제목 : [[${post.title}]]</p>
            </div>
            <div>
                <span th:text="${post.content}">내용</span>
            </div>
        </div>
        <div class="col-sm-4" style="border-left: 1px solid lightgray; margin-top: 5%; width: 365px">
            <div style="margin-left: 7%">
                <div class="row">
                    <div class="col-sm-4 justify-content-center pt-4">
                        <div class="row mx-auto" style="border-radius: 20px;">
                            <div class="col-3">
                                <a th:value="${post.id}" href="javascript:" class="heart-click heart_icon${post.id}">
                                    <svg th:if="${like}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="crimson" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                    <svg th:if="${!like}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="crimson" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row post-profile" style="margin-top: 3%">
                        <div class="col-sm-2" style="margin-right: 1%">
                            <a th:href="@{'/profile/'+${profile.memberId}}">
                                <img th:if="${#strings.isEmpty(profile?.profileImage)}" class="post-img"
                                     src="/image/profile.png" width="50" height="50"/>
                                <img th:if="${!#strings.isEmpty(profile?.profileImage)}" class="post-img"
                                     th:src="${profile?.profileImage}"
                                     width="50" height="50" alt="name"/>
                            </a>
                        </div>
                        <div class="col-sm" style="text-align: left">
                            <div>
                                <span th:text="${post.writer}" style="font-weight: bold; font-size: 15px">닉네임</span>
                            </div>
                            <div>
                                <span th:text="${profile?.bio}" style="font-size: 11px; color: gray">한줄소개</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary followBtn" style="width: 80px;">팔로우</button>
                        </div>
                    </div>
                </div>
                <div style="width: 300px; margin-top: 10px">
                    <button th:if="${post.writer == member.loginId}" id="update" class="btn btn-outline-primary" type="button">
                        <a th:href="@{'/update/' + ${post.id}}">수정</a>
                    </button>
                    <button th:if="${post.writer == member.loginId}" id="delete" class="btn btn-danger delete-btn" type="button" th:value="${post.id}">삭제</button>
                </div>
            </div>
        </div>
    </div>

        <!-- 댓글 관련 부분-->
        <div class="comments col-9 comment-list" style="padding-top: 3%;" id="comment-list">
            <div class="comments-count">
                <span style="font-weight: bold; font-size: 18px">댓글 수 </span>
                <span style="font-weight: bold; font-size: 18px; color: #35c5f0"></span>
            </div>
            <div class="row" style="margin-top: 25px; margin-bottom: 4%">
                <div class="col-sm-1" style="width: 50px">
                    <img th:if="${#strings.isEmpty(profile?.profileImage)}" class="post-img"
                         src="/image/profile.png" width="35" height="35"/>
                    <img th:if="${!#strings.isEmpty(profile?.profileImage)}" th:src="${profile?.profileImage}" class="post-img"
                         width="35" height="35" alt="name"/>
                </div>
                <div class="col-sm-9 input-group"  style="width: 760px">
                    <input type="text" name="comment" id="comment"  class="form-control" placeholder="댓글을 입력해보세요 :)" aria-describedby="button-addon2" maxlength="20">
                    <button class="btn btn-outline-secondary comment-save" type="submit" id="button-addon2">등록</button>
                </div>
            </div>
            <div hidden id="post_id" th:value="${post.id}"></div>
            <div>
                <div id="comment-list-box" class="row" th:if="${comments != null}" th:each="comment: ${comments}">
                    <div class="col-sm" style="text-align: left; margin-bottom: 18px">
                        <div>
                            <span th:text="${comment.writer}" style="font-weight: bold;">아이디</span>
                            <span th:value="${comment.id}" th:text="${comment.content}">댓글내용</span>
                        </div>
                        <div>
                            <span th:text="${#temporals.format(comment.date,'yyyy-MM-dd HH:mm')}" style="font-size: 11px; color: gray">댓글 작성시간</span>
                            <button th:if="${comment.writer == member.loginId}" data-toggle="modal" data-target="#myModal" th:value="${comment.id}" class="btn btn-outline-light comment-delete"
                                    style="font-size: 11px; color: gray; width: 50px">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div th:replace="fragments.html :: post-comments"></div>
<div th:replace="fragments.html :: like"></div>
<script type="application/javascript" th:inline="javascript">

    $(document).on("click", ".delete-btn", function () {

        let header = [[${_csrf.headerName}]];
        let token = [[${_csrf.token}]];
        let id = $(".delete-btn").val();

        $.ajax({
            url: '/delete/' + id,
            type: 'delete',
            success: function (data) {
                window.location.replace(data);
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
        });

    })

</script>
</body>

</html>