<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>facegram</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>

<body>
<nav th:fragment="main-nav" class="navbar navbar-expand-sm navbar-light" style="background-color: lightblue">
    <a id="logo-img" class="navbar-brand" href="/" th:href="@{/}">
        <img src="/images/chatOn.png" width="30" height="30" style="margin-left: 30px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
                <form th:action="@{/searchTag}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="tagTitle" type="search" placeholder="검색"
                           aria-label="Search"/>
                </form>
            </li>
            <li class="nav-item" style="margin-left: 15px">
                <a class="nav-link" th:href="@{/}" style="color: black">Chaton</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/postList}" style="color: black">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/post}" style="color: black">게시판</a>
            </li>
        </ul>

        <ul class="navbar-nav" id="nav-list" style="margin-left: auto">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">회원가입</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/profile/'}">
                    <i class="fa fa-plus" aria-hidden="true"></i> 내 게시물
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/admin}">회원관리</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                       aria-expanded="false" style="background: lightblue">
                        <img src="/image/profile.png" width="24" height="24" class="rounded border bg-light"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink" style="width: 100px">
                        <a class="dropdown-item" th:href="@{'/profile'}">프로필</a>
                        <a class="dropdown-item" th:href="@{'/new-post'}">새 글 작성</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/settings/password}">비밀번호</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'user'}? active" href="#" th:href="@{/settings/user}">계정</a>
</div>

<div th:fragment="post-comments">
    <script type="application/javascript" th:inline="javascript">
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(function() {
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });
        let id = $("#post_id").attr("value");

        $(document).on("click", ".comment-save", function () {
                let comment = $("#comment").val();
                $.ajax({
                    url: '/comment/save/' + id,
                    type: 'post',
                    dataType: 'text',
                    data: {
                        comment: comment
                    },
                    success: function (fragment) {
                        $('.comment-list').replaceWith(fragment);
                    }
                });
        });

        $(document).on("click", ".comment-delete", function(){
            let page = $(this).attr("name");
            let comment_id = $(this).attr("value");
            $.ajax({
                url : '/deleteComment/' + comment_id + '/' + id,
                type : 'post',
                data : {
                    page : page
                },
                success : function(fragment) {
                    $('.comment-list').replaceWith(fragment);
                }
            });
        });
    </script>
</div>

</body>
</html>